
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    grid-column: span 3;
  }
  
  .message {
    text-align: center;
    font-size: 24px;
    color: #fff; 
    padding: 20px;
    border: 2px solid #fff; 
    border-radius: 8px; 
  }