.message {
  text-align: center;
    font-size: 20px;
    color: #fff; 
    padding: 2px;
    padding-left: 10px;
    position: absolute;
    width: 100%;
  }

  .userList {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-top: 1rem;
    color: #fff;
  }
  
  .user {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: #fff;
  }
  
  .user.selected {
    background-color: #0e5ce2;
    border-color: 1.5px solid rgb(10, 10, 147);
    color: #fff;
  }

  .userInfo {
    display: flex;
    flex-direction: column;
  }
  
  .userName {
    color: white;
    font-weight: 600;
    font-size: 0.875rem;
    padding-bottom: -5px;

  }
  
  .userHandle {
    color: #9ca3af;
    font-size: 0.875rem;
  }
